#box {
        box-shadow: 5px 5px 5px 5px grey;
        width: 700px;
        height: 40em;
        position: relative;
        left: 25%;
        top: 10%;
        background: url("img/background.png")fixed;
        background-size:contain;
        
        
    }    
   
   
    
    .submit-button{
      
      font-size: 2rem;
      position: relative;
      top: 60%;
      left: 20%;
      margin-bottom: 2em;
      width: 30em;
      height: 2em;
      border: none;
      border-radius: 12rem;
      color: #fff;
      background-color: #FFC300;
      cursor: pointer;
      margin-left: 2em;
      padding: 1em;
  }
  .submit-button:hover{
    background-color: #CB9F08;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
  }
   
    #q{
        color: #FFC300;
        font: 30px Tajawal;
        text-align: center;
        position: relative;
        top: 5%;
    }
    #options {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        position: relative;
        right: 0.5em;
        bottom: 3em;
        width: 30em;
        height: 15em;
        
    }
    
    .submit-button, type {
        width: 70px;
        
    }
    .imgs {
        width: 5.5rem;
        height: 5.5rem;
       position: relative;
        right: 0.35em;
        bottom: 0.4em;
    }
    