*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html , input {
    /* 1rem  */
    font-size: 62.5%;
    font-family: 'Tajawal', sans-serif;
}

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
@media (min-width: 700px) {
    body {
        background-image: url(../img/background.png);
        background-position: center;
        background-size: cover;
    }
    
}
h1{
    text-align: right;
    font-size: 4rem;
    color: #060C54;
    font-weight: 500;
    margin-bottom: 1rem ;
}

.alphabet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.alphabet-Circles{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
}
.Circles{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin:1rem;
    padding-top: 0.5rem ;
    cursor: pointer;
    color: #fff;
}
.pink{
    background-color: #ff7994;
}
.yellow{
    background-color: #ffed00;
}
.blue{
    background-color: #53cfda;
}
.orange{
    background-color: #ffc900;
}

.Circles h2 {
    text-align: center;
    font-size: 4rem;
}
.letters, select, textarea{
    font-size: 50px;
    color:#fff;
}
#right {
    width: 54em;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
}
